body{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.container_part_1{
   width: 75%;
   border-bottom: 2px solid  gray;
}

.center{
    text-align: center;
}
.container_part_2{
    width: 75%;
    border-bottom: 2px solid  gray;
 }
.container_part_3{
    width: 75%;
    border-bottom: 2px solid  gray;
 }
.container_part_4{
    width: 75%;
    border-bottom: 2px solid  gray;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
#submit{
   margin-bottom: 20px;
 }